<section ng-controller="HomeController">
  <div class="bg-main">
    <div class="bg-main-image">
      &nbsp;
    </div>
<!--     <div class="bg-main-cover"> -->
<!--       &nbsp; -->
<!--     </div> -->
  </div>
  <div class="bg-main-cover">
      &nbsp;
    </div>
  <div class="wrapper main">
    <div class="row">
      <div class="col-xs-12 col-md-6 rbytr-dict">
        <div class="rbytr-dict-heading">
          rbytr
          <small>/&#593;&#720;b&#652;&#618;t&#601;/</small>
        </div>
        <div class="rbytr-dict-desc">
          <ul class="rbytr-dict-list">
            <li>Plan your posts in advance.</li>
            <li>Push your posts to multiple networks.</li>
            <li>Increase your posts' initial engagement.</li>
          </ul>
        </div>
        <div class="rbytr-dict-action">
          <a class="rbytr-button" href="/authentication/invite" title="Become an rbytr">Become an rbytr</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 rbytr-demo">
        <div ng-controller="DemoController" mousemove class="mobileLandingSection__demo mobileLandingDemo">
          <img class="mobileLandingDemo__static" src="modules/core/client/img/demo/iPhone-6-silver.png">
  	    <div class="mobileLandingDemoStream mobileLandingDemoInteractive">
  	      <img class="mobileLandingDemoStream mobileLandingDemoInteractive__overlay" src="modules/core/client/img/demo/overlay-rbytr.png">
  	      <div class="mobileLandingDemoStream__ui-content" ng-style="{'transform': transY}">
  	        <img src="modules/core/client/img/demo/ui-content-rbytr.png" style="display: block;">
  	      </div>
  	    </div>
        </div>
      </div>
    </div>
  </div>
</section>
